$col1: red;
$col2: black;
$col3: blue;

$borderWidth: 6;
$width: 300px;
$height: $width * 1.4;

div {
  width: 900px;
  margin: 0 auto;
}

#border1 {
  fill: $col1;
  stroke: $col2;
  stroke-width: $borderWidth;
}

#border2 {
  fill: $col2;
  stroke: $col3;
  stroke-width: $borderWidth;
}

.card {
  width: $width;
  height: $height;
  margin-top: 10px;
  margin-left: 100px;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 5px 5px 0 #BBB;
}